.triangleContainer {
  position: absolute;
  right: -2em;
  top: 5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

.triangleRow {
  display: flex;
  gap: 2em;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid var(--light-brown);
}

@media screen and (max-width: 1360px) {
  .triangleContainer {
    display: none;
  }
}
