.triangle {
  position: absolute;

  right: 8em;
  top: calc(100vh - (100vh - 340px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.line {
  border-top: 2px solid var(--light-brown);
  width: 2px;
}
.line:nth-child(2) {
  width: 10px;
}

.line:nth-child(3) {
  width: 20px;
}

.line:nth-child(4) {
  width: 30px;
}

.line:nth-child(5) {
  width: 40px;
}
.line:nth-child(6) {
  width: 50px;
}
