/* Summary Modal styles */

.title {
  padding: 0.2em;
}

hr {
  margin-bottom: 1em;
}

.subContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.text,
.checkoutText {
  font-weight: 300;
}

.text {
  font-size: 1.5em;
}

.checkoutText {
  font-size: 1em;
}

.totalText {
  font-size: 1.8em;
  font-weight: 400;
  padding-bottom: 0.5em;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  display: none;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: #f8f8f8;
  transition: transform 250ms linear;
}
@media screen and (min-width: 1000px) {
  .text {
    font-size: 1.2em;
  }

  .btn {
    display: block;
    margin: 1em;
    padding: 0.8em 1em;
    font-size: 1.25em;
    background-color: var(--accent-orange);
    border: none;
    color: #3f3f3f;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px;
    text-decoration: none;
  }
}
