/* Summary Modal styles */

.title {
  padding: 0.2em;
}

hr {
  margin-bottom: 1em;
}

.subContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.text,
.checkoutText {
  font-weight: 300;
}

.text {
  font-size: 1.5em;
}

.checkoutText {
  font-size: 1em;
}

.totalText {
  font-size: 1.8em;
  font-weight: 400;
  padding-bottom: 0.5em;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.8em 1em;
  font-size: 1em;
  background-color: var(--dark-green);
  border: none;
  color: #3f3f3f;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px;
  text-decoration: none;
}
