.navbar {
  height: 50px;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.bag,
.logo {
  color: #6d6a75;
}

.menu:hover,
.bag:hover,
.logo:hover {
  cursor: pointer;
}

.menu,
.bag {
  padding: 10px 30px;
}

.logo {
  font-size: 30px;
  font-weight: 800;
}
