/* X btn styles */
.xBtn {
  position: absolute;
  top: 55px;
  left: 1%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 9px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.xBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Product container styles */

.productDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productDetailsTitleContainer {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
}

/* Product Detail Title Styles */
.productDetailsTitleContainer h2 {
  color: var(--main-font-gray);
  opacity: 0.5;
  font-weight: 300;
  margin-bottom: 0;
}

.productDetailsTitleContainer .pdActive {
  color: var(--main-font-gray);
  padding-bottom: 0;
  font-weight: 400;
  opacity: 1;
  border-bottom: 1px solid var(--main-font-gray);
}

/* Product Detail Text Styles */

.pdDetailText {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.pdDetailSpan,
.pdDiet {
  padding-left: 1em;
}

.pdDetailSpan {
  color: var(--main-font-gray);
}
.pdDiet {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Nutrution tab styles */

.nutritionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.8em;
  gap: 1em;
  padding-bottom: 1em;
}

.nutritonLeft,
.nutritionRight {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
