.logo {
  color: var(--accent-orange);
  font-weight: 700;
  padding: 1em 1em 0.5em 1em;
}

.main {
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.text {
  font-weight: 300;
  align-self: flex-start;
  font-size: 1.2em;
  padding-left: 1em;
}

/* Order Meta Styles */

.orderMeta {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 0;
  margin: 0.5em;
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.detailTitle {
  color: var(--accent-orange);
}

/* Shop Item styles */

.orderItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.item {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
  font-weight: 300;
  font-size: 1.2em;
  padding: 2em 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.itemPrice {
  padding-left: 50%;
}

/* Cost section styles */

.costSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.subtotal,
.shipping,
.discounts,
.total {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.subtotal,
.shipping,
.discounts {
  font-size: 1.2em;
  font-weight: 200;
}

.discounts {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.discounts > .costSectionPrice {
  color: var(--accent-orange);
}

.total {
  font-size: 1.3em;
  font-weight: 400;
  padding: 1rem;
}

/* Closing section styles */
.closingSection {
  width: 80%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closingText:nth-child(2) {
  padding-top: 0.5em;
}

.closingLogo {
  color: var(--accent-orange);
  padding-top: 1em;
}
