.basketModalMain {
  width: 100%;
}

.basketMainTop {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.basketMainTop h2 {
  font-weight: 300;
}

.basketMainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.titleContainer {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.itemName,
.priceTag {
  font-size: 5vw;
}

.mutedQuantity {
  color: var(--main-font-gray);
  font-weight: lighter;
  font-size: 3vw;
}

.priceTag {
  font-weight: 800;
}

.checkoutBasketImage {
  width: 40vw;
  height: 25vw;
  border-radius: 5px;
  margin-right: 1em;
  object-fit: cover;
  overflow: hidden;
}

/* Basket Button Styles */

.basketBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.basketMainInt {
  font-size: 7vw;
}

.trashCan,
.minusIcon,
.plusIcon {
  font-size: 4vw;
  border: 1px solid var(--main-font-gray);
  padding: 2vw;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Button Hover styles */
.arrowLeft:hover,
.minusIcon:hover,
.plusIcon:hover,
.trashCan:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(67, 67, 67, 0.02);
}

@media screen and (min-width: 500px) {
  .itemName,
  .priceTag {
    font-size: 4vw;
  }

  .basketMainInt {
    font-size: 6vw;
  }

  .trashCan,
  .minusIcon,
  .plusIcon {
    font-size: 5vw;
    padding: 1.5vw;
  }
}

@media screen and (min-width: 750px) {
  .itemName,
  .priceTag {
    font-size: 3vw;
  }

  .basketMainInt {
    font-size: 4vw;
  }

  .checkoutBasketImage {
    width: 10em;
    height: 10em;
  }
  .trashCan,
  .minusIcon,
  .plusIcon {
    font-size: 2.2vw;
    padding: 1.5vw;
  }
}

@media screen and (min-width: 1000px) {
  .basketModalMain {
    width: 80%;
  }
  .itemName,
  .priceTag {
    font-size: 1.2em;
  }

  .mutedQuantity {
    font-size: 1em;
  }

  .basketMainInt {
    font-size: 1.5em;
  }
  .trashCan,
  .minusIcon,
  .plusIcon {
    font-size: 1em;
    padding: 0.7em;
  }
  .checkoutBasketImage {
    width: 5em;
    height: 6em;
  }

  .basketBtnContainer {
    width: 50%;
  }
}
