.basketModalTitle {
  padding: 0;
}

.basketModalMain {
  width: 80vw;
}

.basketMainTop {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.basketMainTop h2 {
  font-weight: 300;
}

.basketMainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.titleContainer {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.itemName {
  font-size: 1.1em;
}

.mutedQuantity {
  color: var(--main-font-gray);
  font-weight: lighter;
}

.priceTag {
  font-weight: 800;
  font-size: 1.5em;
}

.checkoutBasketImage {
  width: 100px;
  border-radius: 5px;
  margin-right: 1em;
  height: 80px;
}

/* Basket Button Styles */

.basketBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.basketMainInt {
  font-size: 2em;
}

.trashCan,
.minusIcon,
.plusIcon {
  font-size: 1.2em;
  border: 1px solid var(--main-font-gray);
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Button Hover styles */
.arrowLeft:hover,
.minusIcon:hover,
.plusIcon:hover,
.trashCan:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.04);
}
