/* Footer CSS Styles */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--light-brown);
  padding: 2em;
  height: 100%;
}

/* Heading styles */
footer > section > h2 {
  color: var(--main-font-gray);
  text-decoration: underline;
  padding-bottom: 0.5em;
}

/* ul styles */
footer > section > ul {
  color: white;
}

footer ul > li {
  list-style-type: none;
  padding-bottom: 1em;
}

footer section ul li:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 300ms linear;
}

.contact,
.shop,
.social,
.newsletter {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.contact {
  padding-top: 2em;
}

.iconContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brandIcon {
  color: white;
  height: 30px;
  padding: 0.5em 1em;
}

.newsletter input {
  font-size: 1.07em;
  border-radius: 5px;
  border: none;
  margin: 0.5em 1em 0.1em 1em;
  padding: 0.5em;
}

.newsletter input:focus {
  outline: none !important;
  border-color: var(--accent-pink);
  box-shadow: 0 0 10px var(--accent-pink);
}

.newsletter button {
  font-weight: bolder;
  font-size: 1.05em;
  color: var(--main-font-gray);
  border: none;
  background-color: #ffffff;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.newsletter button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 250ms linear;
}

@media screen and (min-width: 750px) {
  footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact {
    padding: 0;
  }
}

@media screen and (min-width: 1300px) {
  footer {
    padding: 2em 10em;
  }
}
