:root {
  --dark-green: #d1d6ca;
  --main-font-gray: #6d6a75;
  --light-green: #e6ebe0;
  --light-blue: #acc5d3;
  --accent-pink: #e5989b;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

h1 {
  color: var(--main-font-gray);
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding-top: 5em;
}

/* Global Loading Animation styles */

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;
}

.skeletonTitle {
  width: 100px;
  height: 1.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeletonText,
.skeletonTextLong {
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
.skeletonText {
  width: 120px;
}

.skeletonTextLong {
  width: 250px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 50%);
  }
  0% {
    background-color: hsl(200, 20%, 95%);
  }
}
