.shopTitle {
  padding-top: 3em;
}

.shopItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
}

.shopItemSquare {
  position: relative;
  height: 35vw;
  /* width: 150px; */
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
  overflow: hidden;
  padding: 0.1em;
}

.shopItemTitle,
.shopItemPrice {
  color: var(--main-font-gray);
  text-align: center;
  border-radius: 5px;
}

.shopItemTitle {
  font-size: 4vw;
  font-weight: 400;
  padding: 0 0.2em;
  height: 3em;
}

.shopItemPrice {
  padding: 0em;
  font-size: 4vw;
  height: 2em;
}

.shopBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 35vw;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.itemNum {
  text-align: center;
  font-size: 5vw;
  font-weight: 300;
  color: var(--main-font-gray);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  padding: 0;
  margin: 0;
}

.shopMinus,
.shopPlus {
  padding: 2vw;
  margin: 2vw 4vw;
  border-radius: 5px;
  border: 0.7px solid var(--main-font-gray);
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

@media screen and (min-width: 600px) {
}
