.shopTitle {
  padding-top: 3em;
}

.shopItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
}

.shopItemSquare {
  position: relative;
  height: 35vw;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
  overflow: hidden;
  padding: 0.1em;
}

.shopItemSquare:hover {
  cursor: pointer;
}

.shopItemTitle,
.shopItemPrice {
  text-align: center;
  border-radius: 5px;
}

.shopItemTitle {
  color: var(--main-font-gray);
  font-size: 4vw;
  font-weight: 400;
  padding: 0 0.2em;
  height: 3em;
}

.shopItemPrice {
  padding: 0em;
  font-size: 4vw;
  height: 2em;
  color: var(--accent-orange);
}

.shopBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 35vw;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.itemNum {
  text-align: center;
  font-size: 5vw;
  font-weight: 300;
  color: var(--main-font-gray);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  padding: 0;
  margin: 0;
}

.shopMinus,
.shopPlus {
  padding: 2vw;
  margin: 2vw 4vw;
  border-radius: 5px;
  border: 0.7px solid var(--main-font-gray);
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.shopMinus:hover,
.shopPlus:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(67, 67, 67, 0.02);
}

@media screen and (min-width: 700px) and (max-width: 1099px) {
  .shopItemSquare {
    width: 35vw;
    height: 33vw;
  }
  .shopBottomContainer {
    width: 35vw;
  }

  .shopItemTitle {
    font-size: 2.5vw;
  }

  .shopItemPrice {
    font-size: 3vw;
    height: 1.5em;
  }

  .shopMinus,
  .shopPlus {
    margin: 2vw 4vw;
  }
}

@media only screen and (min-width: 800px) {
  .shopItemContainer {
    width: fit-content;
  }

  .shopItemSquare,
  .shopBottomContainer {
    width: 25vw;
  }
  .shopItemSquare {
    height: 30vw;
  }
  .shopBottomContainer {
    min-height: 10vw;
  }

  .shopItemTitle {
    font-size: 2.5vw;
  }

  .shopItemPrice {
    font-size: 2.2vw;
    height: 1.5em;
  }

  .shopMinus,
  .shopPlus {
    padding: 0.5em;
    margin: 1vw 2vw;
  }
}

@media screen and (min-width: 1100px) {
  .shopItemSquare,
  .shopBottomContainer {
    width: 18em;
    min-height: 1em;
  }
  .shopItemSquare {
    height: 20em;
  }

  .shopItemTitle {
    font-size: 1.2em;
  }

  .shopItemPrice {
    font-size: 1.2em;
  }

  .shopMinus,
  .shopPlus {
    margin: 1em 2em;
    padding: 0.5em;
    font-size: 1em;
  }

  .itemNum {
    font-size: 2em;
  }
}
