.shopTitle {
  padding-top: 3em;
}

.shopItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  padding-right: 0.5em;
}

.shopItemDot {
  height: 150px;
  width: 150px;
  background-color: #f8f8f8;
  border-radius: 50%;
  display: inline-block;
}

.shopItemTitle {
  color: var(--main-font-gray);
  font-size: 1em;
  padding-top: 0.7em;
}

.shopBtnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}

.itemNum {
  font-size: 1.5em;
  font-weight: 300;
}

.shopMinus,
.shopPlus {
  padding: 0.4em;
  margin: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid var(--main-font-gray);
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}
