.checkoutContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--light-blue);
  gap: 1em;
  padding-bottom: 1em;
  min-height: 100vh;
}

.checkoutBasketModal,
.checkoutPromotionModal,
.checkoutSummaryModal {
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  color: var(--main-font-gray);
}

.checkoutBasketModal {
  margin-top: 1em;
}

.checkoutButtonModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 0.5em;
  background-color: var(--dark-green);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  color: var(--main-font-gray);
  font-size: 1.2em;
  font-weight: 300;
  text-indent: 0.2em;
}

.button:hover {
  transform: scale(1.01);
  transition: transform 250ms linear;
  box-shadow: 0 0 10px var(--accent-pink);
  cursor: pointer;
}

.basketEmpty {
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  .checkoutBasketModal,
  .checkoutPromotionModal,
  .checkoutSummaryModal {
    width: 80vw;
  }
  .button {
    width: 80vw;
  }
}

@media screen and (min-width: 1200px) {
  .checkoutContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr, 1fr;
    justify-content: center;
    align-items: center;
  }
  .checkoutBasketModal {
    grid-row-start: 0;
    grid-row-end: 2;
  }
  .checkoutBasketModal,
  .checkoutSummaryModal,
  .checkoutPromotionModal {
    width: 100%;
    margin: auto;
  }
  .checkoutSummaryModal,
  .checkoutPromotionModal {
    grid-column-start: 2;
  }
}
/* 
@media screen and (min-width: 1200px) {
  .checkoutContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5% 5%;
    grid-template-areas:
      "basket summary"
      "basket summary"
      "basket summary"
      "basket promo"
      "basket promo";
    padding: 5em 20%;
    width: 100vw;
    align-items: flex-start;
    justify-content: center;
  }

  .checkoutPromotionModal,
  .checkoutSummaryModal,
  .checkoutBasketModal {
    margin: 0;
  }

  .checkoutBasketModal {
    grid-area: basket;
    width: 30vw;
    padding: 0;
    margin: 0;
    height: fit-content;
  }
  .checkoutPromotionModal,
  .checkoutSummaryModal {
    width: 100%;
  }

  .checkoutSummaryModal {
    grid-area: summary;
    height: fit-content;
  }
  .checkoutPromotionModal {
    grid-area: promo;
  }
} */
