.checkoutContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  gap: 1em;
}

.checkoutBasketModal,
.checkoutPromotionModal,
.checkoutSummaryModal,
.checkoutButtonModal {
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  color: var(--main-font-gray);
}
