.checkoutContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  gap: 1em;
}

.checkoutBasketModal,
.checkoutPromotionModal,
.checkoutSummaryModal {
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  color: var(--main-font-gray);
}

.checkoutButtonModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
  padding: 0.8em 0.5em;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  padding: 0.5em;
  background-color: var(--dark-green);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  color: var(--main-font-gray);
  font-size: 1.2em;
  font-weight: 300;
  text-indent: 0.2em;
}

.button:hover {
  transform: scale(1.01);
  transition: transform 250ms linear;
  box-shadow: 0 0 10px var(--accent-pink);
  cursor: pointer;
}

.basketEmpty {
  opacity: 0.7;
}
