.productTitle {
  color: var(--main-font-gray);
  padding: 0.5em 0 0.2em 0;
}

.findSpan {
  color: #97969a;
}

.image {
  width: 60vw;
  border-radius: 5px;
  max-height: 350px;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .productTitle {
    font-size: 1.7em;
  }
  .findSpan {
    font-size: 1.5em;
  }

  .image {
    max-height: 600px;
  }
}
