.productTitle {
  color: var(--main-font-gray);
  padding: 0.5em 0 0.2em 0;
}

.findSpan {
  color: #97969a;
}

.image:hover,
.findSpan:hover {
  cursor: pointer;
}

.image {
  width: 60vw;
  border-radius: 5px;
  max-height: 350px;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .productTitle {
    font-size: 1.3em;
    height: 3em;
  }
  .findSpan {
    font-size: 1.1em;
    padding-bottom: 1em;
  }

  .image {
    max-height: 30vw;
    width: 25vw;
  }
}

@media screen and (min-width: 1200px) {
  .image {
    width: 20vw;
    height: 500px;
  }
}
