.productContainer {
  position: relative;
  padding: 3em;
  height: 100%;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  text-align: center;
  z-index: 1;
}

.product {
  width: 80%;
}

@media screen and (min-width: 750px) {
  .productContainer {
    flex-direction: row;
    gap: 5em;
    align-items: flex-end;
  }
}
