/* Basket Modal Styles  */
.checkoutBasketModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
  max-width: 90%;
}

.basketModalTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--main-font-gray);
  padding-bottom: 1em;
}

.arrowLeft {
  border: 1px solid var(--main-font-gray);
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.basketModalTitle {
  padding: 0.1em 0.5em;
}

.emptyText {
  padding-top: 1em;
  font-size: 1em;
  font-weight: 400;
  color: var(--main-font-gray);
}

.homeBtn {
  margin-top: 1em;
  padding: 0.2em 0.4em;
  font-size: 20px;
  background-color: var(--dark-green);
  border: none;
  color: #3f3f3f;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
}
