.shopContainer {
  position: relative;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  width: 100vw;
  overflow: hidden;
}

.shopTitle {
  font-size: 2em;
  padding: 0;
}

.shopSubtotal {
  color: var(--main-font-gray);
  font-weight: 300;
}

.shopItemsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin: 1em;
}

.viewBtnContainer {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0.5em 1em 1em 1em;
  margin-top: 1em;
}

.viewBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.5em;
  background-color: var(--dark-green);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  color: var(--main-font-gray);
  font-size: 1.2em;
}

.viewBtn:hover {
  transform: scale(1.01);
  transition: transform 250ms linear;
  box-shadow: 0 0 10px var(--accent-pink);
  cursor: pointer;
}

@media screen and (max-height: 680px) {
  .shopItemsContainer {
    gap: 1em;
  }
  .viewBtnContainer {
    margin-top: 0;
  }
}

@media only screen and (min-width: 600px) {
  .shopTitle {
    font-size: 2.5em;
    padding: 0.2em;
  }

  .shopSubtotal {
    padding: 0;
    font-size: 4vw;
  }

  .viewBtn {
    padding-left: 2em;
  }
}

@media only screen and (min-width: 800px) {
  .shopContainer {
    height: 90vh;
    justify-content: flex-start;
  }
  .shopItemsContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 3em 0;
  }

  .shopTitle {
    font-size: 2.5em;
    padding: 0.2em;
  }

  .shopSubtotal {
    padding: 0;
    font-size: 4vw;
  }

  .viewBtnContainer {
    position: absolute;
    bottom: 0;
  }
  .viewBtn {
    padding-left: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .shopContainer {
    height: 100vh;
    justify-content: flex-start;
    padding: 2em;
  }

  .shopItemsContainer {
    display: flex;
  }

  .shopTitle {
    font-size: 2.5em;
    padding-top: 1em;
  }
  .shopSubtotal {
    font-size: 1.5em;
  }
}
