.goalContainer {
  position: relative;
  background-color: rgba(173, 216, 230, 0.3);
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

.goalTitle,
.goalPara {
  text-align: center;
}

.goalTitle {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 1em;
  color: var(--main-font-gray);
}

.goalPara {
  font-weight: 200;
  padding-bottom: 1em;
  color: var(--main-font-gray);
}

@media screen and (min-width: 700px) {
  .goalContainer {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .goalTitle,
  .goalPara {
    padding-left: 5vw;
  }

  .goalTitle {
    padding-top: 1em;
    font-size: 2.5em;
  }

  .goalPara {
    font-size: 2em;
    width: 90%;
    padding-bottom: 2em;
  }
}
