.goalContainer {
  position: relative;
  background-color: rgba(173, 216, 230, 0.3);
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

.goalTitle,
.goalPara {
  text-align: center;
}

.goalTitle {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 1em;
  color: var(--main-font-gray);
}

.goalPara {
  font-weight: 200;
  padding-bottom: 1em;
  color: var(--main-font-gray);
}

@media screen and (min-width: 700px) {
  .goalContainer {
    border-top: 5px solid var(--light-brown);
    min-height: 90vh;
    background-image: url(../../images/goalImage.jpg);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .goalTitle,
  .goalPara {
    color: white;
    margin: 1em;
    padding: 0.3em;
    background-color: var(--accent-orange);
    border-radius: 5px;
  }

  .goalTitle {
    margin-top: 3em;
    font-size: 2em;
    margin-left: 5em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
  }

  .goalPara {
    font-size: 1.2em;
  }

  .goalPara:nth-child(2) {
    margin-left: 8em;
  }

  .goalPara:nth-child(3) {
    margin-left: 10em;
  }

  .goalPara:nth-child(4) {
    margin-left: 12em;
  }
}

@media screen and (min-width: 1200px) {
  .goalTitle {
    font-size: 2.2em;
  }
  .goalPara {
    font-size: 1.6em;
  }
}
