.goalContainer {
  background-color: rgba(173, 216, 230, 0.3);
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

.goalTitle,
.goalPara {
  text-align: center;
}

.goalTitle {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 1em;
  color: var(--main-font-gray);
}

.goalPara {
  font-weight: 200;
  padding-bottom: 1em;
  color: var(--main-font-gray);
}
