.top-container {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}

h1 {
  color: #6d6a75;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.btnSection {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 20px;
  background-color: #d1d6ca;
  border: none;
  color: #3f3f3f;
  border-radius: 5px;
}

.downarrow {
  padding-top: 1rem;
}
