.topContainer {
  display: flex;
  height: calc(100vh - 50px);
  margin-top: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../images/homeMobile.jpg);
  background-size: cover;
  background-position: 50%;
}

.homeTitle {
  width: 90%;
  color: #f8f8f8;
}

.homeBtnSection {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  padding-bottom: 1em;
}

.homeBtn {
  padding: 1rem 2rem;
  font-size: 20px;
  background-color: var(--dark-green);
  border: none;
  color: #3f3f3f;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
}

.homeBtn:hover {
  transform: scale(1.05);
  transition: transform 250ms linear;
  box-shadow: 0 0 10px var(--accent-pink);
  cursor: pointer;
}

.downarrow {
  padding-top: 1rem;
}
