/* Product Styles */
.productContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  height: calc(100vh - 70px);
  margin-top: 70px;
  width: 90vw;
}

.productImage {
  margin-bottom: 0em;
  border-radius: 5px;
  max-height: 45%;
  max-width: 90%;
}

.productTitle {
  font-size: 1.5em;
  align-items: flex-start;
  padding-top: 0.5em;
}

.productText {
  text-align: left;
  font-size: 0.8em;
  padding: 1em 1.5em;
  color: var(--main-font-gray);
}

@media screen and (min-width: 1000px) {
  .productContainer {
    max-width: 800px;
    margin: auto;
    padding-top: 100px;
  }
  .productText {
    width: 600px;
  }
}
