/* Product Styles */

.pageContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-green);
  z-index: -5;
}
.productContainer {
  z-index: 5;
  position: absolute;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-top: 70px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.productImage {
  margin-bottom: 0em;
  border-radius: 5px;
  max-height: 25%;
  max-width: 90%;
}

.productTitle {
  font-size: 1.5em;
  align-items: flex-start;
  padding-top: 0.5em;
}

.productText {
  text-align: left;
  font-size: 0.8em;
  padding: 1em 1.5em;
  color: var(--main-font-gray);
}

@media screen and (min-width: 1000px) {
  .productContainer {
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
    margin-top: 90px;
    padding-bottom: 30px;
  }

  .productImage {
    max-height: 40vh;
  }
  .productText {
    text-align: center;
    width: 600px;
  }
}
